---
title:  "installation"
date:   2012-9-4 00:00:00 -0500
categories: shakespeare-machine
anchor: installation
type: process
---

<p>
  Microsoft Cybercrime Unit is a group operating in Redmond WA, fighting various cyberthreats in collaboration with the American government and foreign agencies. The threats they address range from counterfeiting to child trafficking networks, to botnet herding.
</p>

<div class="media full">
  <div class="column-2">
    <div class="image">
      <img src="{{ site.github.url }}/images/shakespeare-machine/physical/7917098866_1d69e8b56e_o.jpg" />
    </div>
    <div class="image">
      <img src="{{ site.github.url }}/images/shakespeare-machine/physical/slides-16.jpg" />
    </div>
  </div>
  <p class="label">Botnet activity across the world — <a href="http://news.microsoft.com/stories/cybercrime/">Microsoft DCU</a></p>
</div>

<p>
  What is a botnet?
</p>


<div class="media full">
  <div class="column-2">
    <div class="image">
      <img src="{{ site.github.url }}/images/shakespeare-machine/physical/slides-15.jpg" />
    </div>
    <div class="image">
      <img src="{{ site.github.url }}/images/shakespeare-machine/physical/slides-08.jpg" />
    </div>
  </div>
  <p class="label">Botnet activity across the world — <a href="http://news.microsoft.com/stories/cybercrime/">Microsoft DCU</a></p>
</div>

<p>
  Because of the pervasiveness of Windows products, Microsoft has been in a privileged position to address the threats caused by botnets. The DCU is based in Minority-Report-like offices, where investigators track online "bad guys" day and night from an evidence room. In an effort to communicate these efforts to the general public, they commissioned the Office for Creative Research to visualize botnet data.
</p>


<div class="media">
  <div class="image">
    <img src="{{ site.github.url }}/images/shakespeare-machine/physical/shakespearer-machine-plaque.jpg" />
  </div>
  <p class="label">Botnet activity across the world — <a href="http://news.microsoft.com/stories/cybercrime/">Microsoft DCU</a></p>
</div>

