---
title:  "introduction"
date:   2012-8-1 00:00:00 -0500
categories: shakespeare-machine
anchor: introduction
type: process
---


<div class="media">
  <div class="image" style="background-color:black">
    <img src="{{ site.github.url }}/images/shakespeare-machine/introduction/7311715154_335a5973bc_h.jpg" />
  </div>
</div>

<p>
  Because of the pervasiveness of Windows products, Microsoft has been in a privileged position to address the threats caused by botnets. The DCU is based in Minority-Report-like offices, where investigators track online "bad guys" day and night from an evidence room. In an effort to communicate these efforts to the general public, they commissioned the Office for Creative Research to visualize botnet data.
</p>

<div class="media full">
  <div class="column-2">
    <div class="image">
      <img src="{{ site.github.url }}/images/shakespeare-machine/introduction/slides-06.jpg" />
    </div>
    <div class="image">
      <img src="{{ site.github.url }}/images/shakespeare-machine/introduction/slides-07.jpg" />
    </div>
  </div>
  <p class="label">Botnet activity across the world — <a href="http://news.microsoft.com/stories/cybercrime/">Microsoft DCU</a></p>
</div>

<p>
  With this project, the Office for Creative Research was tasked to build an installation piece that would live in DCU's main space. It had to create a data visualization that would communicate botnet data in a creative, engaging way.
</p>

<p>
  We set out to create an interactive piece that would not only show the inherent beauty of these complex systems, but also become a useful tool for researchers to explore botnets' organic behaviors.
</p>

<div class="media">
  <div class="image" style="background-color:black">
    <img src="{{ site.github.url }}/images/shakespeare-machine/introduction/WP_000346.jpg" />
  </div>
  <p class="label">The Cybercrime Center in Microsoft's headquarters — <a href="http://news.microsoft.com/stories/cybercrime/">Microsoft DCU</a></p>
</div>

