---
title:  "final"
date:   2012-9-17 00:00:00 -0500
categories: shakespeare-machine
anchor: final
type: process
---

<div class="media">
  <div class="image" style="background-color:black">
    <img src="{{ site.github.url }}/images/shakespeare-machine/final/opening.jpg" />
  </div>
</div>

<p>
  Microsoft Cybercrime Unit is a group operating in Redmond WA, fighting various cyberthreats in collaboration with the American government and foreign agencies. The threats they address range from counterfeiting to child trafficking networks, to botnet herding.
</p>

<div class="media">
  <div class="image" style="background-color:black">
    <img src="{{ site.github.url }}/images/shakespeare-machine/final/ADJ-and-ADJ.jpg" />
  </div>
</div>

<p>
  What is a botnet?
</p>

<div class="media full">
  <div class="column-2">
    <div class="image">
      <img src="{{ site.github.url }}/images/shakespeare-machine/final/HYPHENATED-adjectives.jpg" />
    </div>
    <div class="image">
      <img src="{{ site.github.url }}/images/shakespeare-machine/final/NOUN-phrase.jpg" />
    </div>
  </div>
  <p class="label">Botnet activity across the world — <a href="http://news.microsoft.com/stories/cybercrime/">Microsoft DCU</a></p>
</div>

<p>
  According to <a href="https://en.wikipedia.org/wiki/Botnet">Wikipedia</a>: <br/>
  "A botnet is a number of Internet-connected computers communicating with other similar machines in which components located on networked computers communicate and coordinate their actions by command and control (C&C) or by passing messages to one another (C&C might be built into the botnet as P2P).[1] Botnets have been used many times to send spam email or participate in distributed denial-of-service attacks. The word botnet is a combination of the words robot and network. The term is usually used with a negative or malicious connotation."
</p>

<div class="media">
  <div class="image" style="background-color:black">
    <img src="{{ site.github.url }}/images/shakespeare-machine/final/Complete-Works.jpg" />
  </div>
</div>


