---
title:  "What your ads tell them about you"
date:   2014-04-11 00:00:00 -0500
categories: floodwatch
anchor: prototyping
type: process
---

<p>
  While the main challenge of Floodwatch resided in capturing ad banners in web pages (which was initially developed by <a href="http://elleryroyston.com/">Ellery Royston</a>), a lot of our work also revolved around making a relevant use of the data we collected. Visually rich, ads can tell a lot about what advertisers think of their targeted consumers. We spent a lot of time analyzing them from all angles: origin, time and frequency of impression, colors and format, demographics of their targets...
</p>

<div class="media xl off">
  <p class="label">Hundreds of ads clustered by colors — <a href="https://www.rebelmouse.com/quasimondo/">Mario Klingemann</a></p>
  <div class="image">
    <img data-original="{{ site.github.url }}/images/floodwatch/prototyping/simgrid_1324.jpg">
  </div>
</div>

<div class="media xl off">
  <p class="label">Processing visualization of an ad profile — <a href="https://www.twitter.com/blprnt/">Jer Thorp</a></p>
  <div class="image">
    <img data-original="{{ site.github.url }}/images/floodwatch/prototyping/adviz15_10_5.jpg">
  </div>
</div>

<p>
  Based on an idea by <a href="http://www.juliai.com/">Julia Irwin</a>, <a href="http://twitter.com/blprnt">OCR's co-founder Jer Thorp</a> submitted his own ad profile to a number of mechanical turkers, who were asked to interpret it like advertisers do. You can read the result in <a href="https://backchannel.com/you-are-not-your-browser-history-cdff623a3b24">this Medium essay</a>.
</p>

<p>
  It quickly appeared that matching people's demographic information with the type of ads they were served would be one of the most prolific source of information for future research. Categorized ads coupled with their targets' information would allow us to fully reverse-engineer the adtech chain, reveal possible discrimination patterns, and show us what makes individuals unique in the eyes of the advertisers. 
</p>

<p>
  From these stated goals was born an early prototype for the "Signature Mode", that would allow each user to compare their ad profile to different types of populations.
</p>

<div class="media xl off">
  <p class="label">Early prototype for Floodwatch's signature mode</p>
  <div class="image">
    <video width="100%" height="auto" autoplay loop>
      <source src="{{ site.github.url }}/images/floodwatch/prototyping/signature.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
</div>

<p>
  Because of the technical challenges brought by the classification of ads, and the ethical challenges of crowd-sourcing users demographics data, the Signature mode had to be postponed to a later version of Floodwatch. Its aesthetics however inspired the app's main icon. 
</p>

<div class="media s">
  <div class="image">
    <img width="300px" height="auto" data-original="{{ site.github.url }}/images/floodwatch/prototyping/logo.png"/>
  </div>
</div>


