---
title:  "Data visualization as an empowering tool"
date:   2014-06-16 00:00:00 -0500
categories: floodwatch
anchor: interface
type: process
---

<p>
  We decided early on to design Floodwatch as a tool for people to explore their own ad profile. By making it engaging enough, it would incentivize people to take part in the longer-term goal of the project: collecting a comprehensive database of online ad targeting. 
</p>

<div class="media l off">
  <p class="label">A moodboard for Floodwatch's visual identity — many beloved artists and designers of ours</p>
  <div class="image"><img data-original="{{ site.github.url }}/images/floodwatch/interface/moodboard.png"></div>
</div>

<p>
  After a few days of data collection, users were presented with a wall of ads they had been served online. They could observe the volume and frequency at which certain products had been advertised to them. Floodwatch provided them with tools to explore the data  from many angles, through filters and sorting modes that allowed them to rank ads by their frequency or distinctiveness. 
</p>

<p>
  Floodwatch's interface draws inspiration from many projects, but I want to give special credit to Moritz Stefaner's <a href="http://selfiecity.net/">Selfie City</a>, which had a strong influence on our work.
</p>

<div class="media xl off">
  <div class="image"><img data-original="{{ site.github.url }}/images/floodwatch/interface/floodwatch_2.jpg"></div>
</div>

<p>
  Floodwatch was released on the Chrome store where it gathered a fair amount of press attention as well as the participation of about 10,000 users for a few months.
</p>

