---
title:  "A vision for Floodwatch"
date:   2014-04-01 00:00:00 -0500
categories: floodwatch
anchor: vision
type: process
---

<p>
  Whether they originated from my personal practice or my involvement with <a href="https://ocr.nyc/">the Office for Creative Research</a>, a lot of my projects have revolved around the tension between online privacy and adtech technologies. In 2012, the first visualization project I worked on for the OCR was an interactive piece revealing the inner workings of the ad targeting ecosystem. "Behind the Banner", designed for <a href="http://battellemedia.com/">Battelle Media</a>, was one of the first look at the inner workings of the ad targeting ecosystem, from data brokers to ad exchanges.
</p>

<div class="media xl off">
  <p class="label">Behind the Banner — a first dataviz project for the OCR</p>
  <div class="image">
    <video width="100%" height="auto" controls autoplay loop>
      <source src="{{ site.github.url }}/images/floodwatch/vision/BehindTheBanner.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
</div>

<p>
  With a similar purpose yet a difference approach, Floodwatch was born as a collaboration between privacy researcher <a href="https://ashkansoltani.org/about/">Ashkan Soltani</a> and <a href="https://ocr.nyc/">The Office for Creative Research</a>, as a data collection tool for monitoring targeted advertising. 
</p>

<p>
  Floodwatch is a Chrome extension that tracks the ads people see as they browse the internet. It offers tools to help them understand both the volume and the types of ads they're being served during the course of normal browsing, with the goal of increasing awareness of how advertisers track our browsing behavior, build their version of our online identity, and target their ads to us as  individuals.
</p>

<div class="media xl off">
  <p class="label">A month's worth of targeted ads — <a href="https://www.twitter.com/blprnt/">Jer Thorp</a></p>
  <div class="image">
    <img data-original="{{ site.github.url }}/images/floodwatch/vision/tumblr_nd3e28dCkB1stbx71o1_1280.jpg"/>
  </div>
</div>

<p>
  As a tool for individuals, Floodwatch enabled people to take back over their personal data, by collecting every commercial banner served over the course of their daily browsing. As a crowd-sourced project, it aspired to become the most comprehensive database of online targeting.
</p>
