---
title: "Visualized 2015"
date: 2015-10-09 00:00:00 -0500
categories: talks
anchor: visualized
type: process
---

<div class="media xl off">
  <p class="label">
    A 20-minute talk co-presented with amazing OCR teammate <a href="http://portfolio.genevievehoffman.com/">Genevieve Hoffman</a>. We discuss the limitations of storytelling in data visualization and make a case for designing exploratory interfaces.
  </p>
  <iframe class="youtube" src="https://player.vimeo.com/video/160679945?quality=1080p" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>