---
title:  "Open, accessible data"
date:   2015-04-29 00:00:00 -0500
categories: into-the-okavango
anchor: api
type: process
---

<p>
  Data visualization can sometimes be a dead-end, as it displays highly-curated stories that can't really be appropriated or remixed  by their audiences. If our platform means to become a centralized entry point for Okavango field data, it has to be an accessible, flexible one. To this end, the 2014 version of the site provides people with a user-friendly API explorer.
</p>

<div class="media xl off">
  <p class="label">The API explorer and its visual output — <a href="http://portfolio.genevievehoffman.com/">Genevieve Hoffman</a></p>
  <div class="image">
    <img data-original="{{ site.github.url }}/images/into-the-okavango/api/api-dashboard.png" width="1160" height="720"/>
  </div>
  <div class="image">
    <img data-original="{{ site.github.url }}/images/into-the-okavango/api/api-output.png" width="1161" height="720"/>
  </div>
</div>

<p>
 Designed and developed by creative researcher <a href="http://portfolio.genevievehoffman.com/">Genevieve Hoffman</a>, the API explorer provides people with simple tools to question our database. The system takes simple parameters and outputs information in flexible formats, from raw data sets to maps and diagrams that can be reused by everyone. 
</p>

<div class="media l off">
  <p class="label">A visualization of all wildlife sightings captured during the 2014's expedition — <a href="http://twitter.com/blprnt">Jer Thorp</a></p>
  <iframe class="youtube" src="https://player.vimeo.com/video/194105708?quality=1080p" width="640" height="362" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>

<p>
  Our hope is to develop a platform that will be appropriated by students, journalists, artists and developers. As we see people exploring the information we collected, we find our project living beyond our initial vision.
</p>
