---
title:  "Understanding elephant conservation: an opportunity to browse cute baby elephant pictures"
date:   2016-04-28 00:00:00 +0000
categories: elephant-atlas
anchor: research
type: process
---

<p>
  Our collaboration with Vulcan revolved around research and exploration, which of course led us to learn about elephant conservation ourselves. The framework of our analysis was defined around multiple avenues, from the complexity of the conservation ecosystem itself, to the overall situation of elephant populations across the African continent, to an initial look at the data at hand.
</p>

<div class="media l off">
  <p class="label">An early look at elephant populations gain and loss across Africa</p>
  <div class="image">
    <img data-original="{{ site.github.url }}/images/elephant-atlas/research/screen_shot_2016-06-16_at_5.34.29_pm.png">
  </div>
</div>

<p>
  As for each of the OCR's projects, we excitedly took a stab at the data available to us. We went through a number of research papers and status reports describing the decline (and in rare occurences gain) of elephant population across Africa. This gave us a broad understanding of the conservation effort led in the 18 countries involved.
</p>

<p>
  Not forgetting that the surveying effort was a story on its own, we also looked at the process of counting the elephants. The wealth of data included in the Great Elephant Database gave us access to thousands of hours of flights logs, raw sigtings and meta information about each expedition.
</p>

<div class="media xl off">
  <p class="label">3 early explorations of the database, looking at survey designs and flight logs</p>
  <div class="image">
    <img data-original="{{ site.github.url }}/images/elephant-atlas/research/map.gif"/>
  </div>
  <div class="image">
    <img data-original="{{ site.github.url }}/images/elephant-atlas/research/lines.gif"/>
  </div>
  <div class="image">
    <img data-original="{{ site.github.url }}/images/elephant-atlas/research/allstrata.png"/>
  </div>
</div>

<p>
  This initial look at the data collected by the Great Elephant Census enabled us to plan for creating the right backend tools for exploiting that information, and creating technically viable concepts. 
</p>

<div class="media xl off">
  <p class="label">An incomplete map of the international conservation eco-system</p>
  <div class="image"><img data-original="{{ site.github.url }}/images/elephant-atlas/research/conservation-ecosystem.png"></div>
</div>

<p>
  In parallel, our research led us to analyze the landscape of the elephant conservation ecosystem itself. Understanding the numerous actors involved would help us tailoring our message for each user group, and provide them with the appropriate tools for learning, exploring, and taking action for the elephants.
</p>

<div class="media l off">
  <p class="label">A studio charette was organized to decide on the broad orientations of the project</p>
  <div class="column-2">
    <div class="image">
      <img data-original="{{ site.github.url }}/images/elephant-atlas/research/1-kRXdrHiSE5IAk5T-86uFfw.jpeg"/>
    </div>
    <div class="image">
      <img data-original="{{ site.github.url }}/images/elephant-atlas/research/whiteboard.jpg"/>
    </div>
  </div>
</div>

<p>
  Our team concluded this initial phase by synthesizing the extensive research gathered. At that point, our production took the form of a framework for approaching multiple target audiences (from conservation experts to the general public and policty-makers), and a typology of concepts that could resonate with each of them. 
</p>

<div class="media xl off">
  <p class="label">Some of the concepts selected to become interactive prototypes</p>
  <div style="display: block;">
    <div class="image">
      <img data-original="{{ site.github.url }}/images/elephant-atlas/research/conceptsArtboard 2.png"/>
    </div>
    <div class="image">
      <img data-original="{{ site.github.url }}/images/elephant-atlas/research/conceptsArtboard 3.png"/>
    </div>
    <div class="image">
      <img data-original="{{ site.github.url }}/images/elephant-atlas/research/conceptsArtboard 4.png"/>
    </div>
  </div>
</div>

<p>
  We drafted a number of storyboards defining a dozen of creative concepts, from immersive game experiences to informational dashboards and social media attractors. Each of them would later become its own prototype, in order to narrow down our options and validate our intuitions.
</p>