---
title:  "Floodwatch beta finally opens the black box"
date:   2016-11-30 00:00:00 -0500
categories: floodwatch
anchor: beta
type: process
---

<p>
  The alpha release of the extension was a rich experience for us as we learned what people were looking for in a tool like Floodwatch. Furthermore, it enabled us to collect a significant pool of real life ads seen by thousands of people, that would help us furthering our research.
</p>

<p>
  To that end, we collaborated with <a href="https://www.rebelmouse.com/quasimondo/">Mario Klingemann</a> who brought machine learning into our data processes in order to classify ads by the types of producs or services they advertise. This work sparked a new phase of research as we were getting closer to fulfill the initial intent of Floodwatch: reverse-engineering ad technology by matching ad types with the demographic information from the people they are served to.
</p>

<div class="media xl off">
  <p class="label">Hundreds of ads clustered by the type of product advertised — <a href="https://www.rebelmouse.com/quasimondo/">Mario Klingemann</a></p>
  <div class="image">
    <img data-original="{{ site.github.url }}/images/floodwatch/beta/simgrid_592.jpg"/>
  </div>
</div>

<p>
  Based on this new work, the next (beta) version of Floodwatch will focus on enabling people to compre their ad profile with other population groups. Inspired by the original Signature mode we prototyped, it features an entirely new design encouraging people to share more personal demographic information in a controlled and privacy-friendly environment.
</p>

<div class="media xl off">
  <p class="label">A pre-release capture of Floodwatch beta — <a href="http://janefriedhoff.com/">Jane Friedhoff</a></p>
  <div class="image">
    <iframe class="youtube" src="https://player.vimeo.com/video/195574376?quality=1080p" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</div>

<p>
  Floodwatch Beta will be released in December 2016. The project is conducted by a new team led by <a href="http://janefriedhoff.com/">Jane Friedhoff</a>, along with lead frontend developer <a href="http://heyanderson.com/">Chris Anderson</a>, lead backend developer <a href="https://twitter.com/ericbuth?lang=en">Eric Buth</a>, and visual design intern <a href="http://charles-perinet.fr/">Charles Perinet</a>.
</p>

<p>
  Floodwatch was part of <a href="https://tacticaltech.org/projects/glass-room" target="_blank">The Glass Room</a> exhibition, from November 29 to December 18 2016 in New York City.
</p>