---
title:  "An experience tailored for mobile"
date:   2016-06-22 00:00:00 +0000
categories: elephant-atlas
anchor: mobile
type: process
---

<p>
  To this day, mobile design is still a strange beast for data visualization. Rich media doesn't always play well on mobile devices, either because of limited performances or complex, counter-intuitive touch interactions. We however designed the Elephant Atlas with those constraints in mind, and I can proudly say we made some major breakthrough in that regard.
</p>

<div class="media xl off table">
  <div>
    <img data-original="{{ site.github.url }}/images/elephant-atlas/designs-mobile/map1.png"/>
    <img data-original="{{ site.github.url }}/images/elephant-atlas/designs-mobile/map2.png"/>
    <img data-original="{{ site.github.url }}/images/elephant-atlas/designs-mobile/map3.png"/>
  </div>
  <div>
    <img data-original="{{ site.github.url }}/images/elephant-atlas/designs-mobile/census1.png"/>
    <img data-original="{{ site.github.url }}/images/elephant-atlas/designs-mobile/census2.png"/>
    <img data-original="{{ site.github.url }}/images/elephant-atlas/designs-mobile/census3.png"/>
  </div>
  <div>
    <img data-original="{{ site.github.url }}/images/elephant-atlas/designs-mobile/context1.png"/>
    <img data-original="{{ site.github.url }}/images/elephant-atlas/designs-mobile/context2.png"/>
    <img data-original="{{ site.github.url }}/images/elephant-atlas/designs-mobile/context3.png"/>
  </div>
  <div>
    <img data-original="{{ site.github.url }}/images/elephant-atlas/designs-mobile/country1.png"/>
    <img data-original="{{ site.github.url }}/images/elephant-atlas/designs-mobile/country2.png"/>
  </div>
</div>

<p>
  The responsive layout I designed allowed to display all core pieces of information with equal accuracy and interactivity on all platforms, with minimal development overhead. Tablet devices in particular ended up being the most pleasurable to interact with, while <a href="https://ocr.nyc">the OCR</a>> historically had trouble designing beyond desktop experiences. 
</p>

<div class="media xl off">
  <p class="label">The layout of the interface was thoroughly reshaped to fit a mobile experience</p>
  <div class="image">
    <img data-original="{{ site.github.url }}/images/elephant-atlas/designs-mobile/census1.png"/>
  </div>
  <div class="image">
    <img data-original="{{ site.github.url }}/images/elephant-atlas/designs-mobile/context2.png"/>
  </div>
  <div class="image">
    <img data-original="{{ site.github.url }}/images/elephant-atlas/designs-mobile/country1.png"/>
  </div>
</div>

<p>
  While we could go further in implementing custom user flows for each platform, this project shows some promising leads on how rich data interactions can be translated to mobile format.
</p>

