---
title:  "Prototyping phase : throw everything at the wall and see what sticks"
date:   2016-05-25 00:00:00 +0000
categories: elephant-atlas
anchor: prototyping
type: process
---

<p>
  The research phase of the project provided us with enough insights to start developing concepts out and tools for data exploration. This was the object of the next step: the prototyping phase. We set out to create as many quick prototypes as possible to either validate or reject the concepts drafted during the initial phase of the project.
</p>

<p>
  This phase was brilliantly led by <a href="http://janefriedhoff.com/">Jane Friedhoff</a> and <a href="http://www.sarahgp.com/">Sarah Groff Hennigh-Palermo</a>. You guys rule.
</p>

<div class="media l off">
  <p class="label">The pace of elephant counts at a regional level — <a href="http://janefriedhoff.com/">Jane Friedhoff</a></p>
  <div class="image"><img data-original="{{ site.github.url }}/images/elephant-atlas/prototypes/dotsovertime.gif"></div>
</div>

<p>
  We quickly created a number of map-based visualizations to show the process of elephant counting itself. These maps showed effectively how the distribution of elephant populations varied across the continent. It also told the story of data collection protocols and their shortcomings.
</p>

<div class="media l off">
  <p class="label">A timeline exploring the impact of socio-economic factors on elephant conservation — <a href="http://janefriedhoff.com/">Jane Friedhoff</a></p>
  <div class="image"><img data-original="{{ site.github.url }}/images/elephant-atlas/prototypes/browserpreview_tmp-4.gif"></div>
</div>

<p>
  Other prototypes also attempted to analyze the data from a time-based approach. In the graphics above (concept by <a href="http://janefriedhoff.com/">Jane Friedhoff</a>), the baseline shift over time allows to compare different variables on a similar scales. In this way, we can (for instance) explore how the evolution of GDP in specific countries may or may not have an influence on elephant loss or habitat loss. This prototype made the final cut.
</p>

<div class="media l off">
  <p class="label">A historical comparison of elephant population estimates by country  — <a href="http://janefriedhoff.com/">Jane Friedhoff</a></p>
  <div class="image"><img data-original="{{ site.github.url }}/images/elephant-atlas/prototypes/graph.gif"></div>
</div>

<p>
  We also looked at a number of interactive mechanisms for people to compare elephant conservation efforts from one country to the other, as it appeared that situations could vary tremendously between neighboring nations. This proved to be challenging, considering the inconsistent nature of data collection over time.
</p>

<div class="media xl off">
  <p class="label">Early prototypes are turned into interactive pieces and placed in a broader user flow</p>
  <div class="image">
    <img data-original="{{ site.github.url }}/images/elephant-atlas/prototypes/grid.png"/>
  </div>
  <div class="image">
    <img data-original="{{ site.github.url }}/images/elephant-atlas/prototypes/flow.png"/>
  </div>
</div>

<p>
  From a month of intense data exploration remained a handful of prototypes that all seemed viable from conceptual, scientific, and  technical perspectives. OCR team worked together at creating a platform that would stitch these interactive pieces together in a coherent web experience.
</p>