---
title:  "The weight of data"
date:   2016-08-01 00:00:00 +0000
categories: elephant-atlas
anchor: particles
type: process
---

<p>
  How to show the decline of elephant populations in a relatable way? As a medium, data visualization shines at making sense of complex systems and revealing patterns. While it <a href="http://guns.periscopic.com/">can be impactful</a>, it sometimes feels abstract and dehumanized. It was very clear with this project that any visual treatment we were giving to the data should not obfuscate the lives behind the numbers.
</p>

<p>
  Where most visualization projects would make use of standard density heatmaps, we decided instead to trade a bit of scientific accuracy in order to gain emotional engagement: for each elephant we would light one particle. <em>It would not only show density changes over time: it would show where elephants live and die in a very visceral way.</em>
</p>

<div class="media xl off">
  <p class="label">Comparison of 2 design approaches: hexbins vs scatter plot</p>
  <div class="image">
    <img data-original="{{ site.github.url }}/images/elephant-atlas/particles/hexbin-design.png"/>
  </div>
  <div class="image">
    <img data-original="{{ site.github.url }}/images/elephant-atlas/particles/pixel-design.png"/>
  </div>
</div>

<p>
  Of course, displaying 400,000 dynamic particles on an interative map proved to be a technical challenge. To make this amount of data workable on both client and server side, I pre-rendered data sprite sheets at various resolutions for each region involved in the census. Using elephant density data as well as some Perlin noise to simulate natural distribution, I was able to generate realistic particle systems.
</p>

<div class="media xl off">
  <p class="label">Region geometries are initially captured in vector format, then laid out in a sprite sheet, and finally populated as a data store</p>
  <div class="image" style="background-color:black">
    <img data-original="{{ site.github.url }}/images/elephant-atlas/particles/particles1.png"/>
  </div>
  <div class="image" style="background-color:black">
    <img data-original="{{ site.github.url }}/images/elephant-atlas/particles/particles2.png"/>
  </div>
  <div class="image" style="background-color:black">
    <img data-original="{{ site.github.url }}/images/elephant-atlas/particles/particles3.png"/>
  </div>
</div>

<p>
  These sprite sheets were generated for each year of data records, and then tied together. Besides creating pretty GIFs, they were used to generate interactive time series that could be navigated by scrolling through the interface.
</p>

<p>
  Exploring the platform reveals some dramatic stories (e.g Tanzania lost 80% of it's elephant population over the past decade) and some more optimistic ones. Our approach hopefully will tell these with honesty and humanity.
</p>

<div class="media l off">
  <p class="label">30 years of elephant population estimates in Zimbabwe</p>
  <div class="image" style="background-color:black">
    <img data-original="{{ site.github.url }}/images/elephant-atlas/particles/particles-20.gif" />
  </div>
</div>

<div class="media l off">
  <p class="label">The GIF sprite sheet is broken down per year and animated via scroll interaction in the final interface</p>
  <div class="image">
    <img data-original="{{ site.github.url }}/images/elephant-atlas/particles/country-20.gif"/>
  </div>
</div>
