---
title:  "A non-scientific artefact for the Great Elephant Census"
date:   2016-04-02 00:00:00 +0000
categories: elephant-atlas
anchor: gec
type: process
---

<p>
  In 2013, The Great Elephant Census embarked on a journey to understand the alarming decline of elephant populations across Africa. National parks and wildlife staff in 18 countries with support from seven NGOs coordinated by Vulcan to carry out the most extensive pan continental elephant survey since the 1970’s.
</p>


<div class="media l">
  <iframe class="youtube" src="https://www.youtube.com/embed/DrAt9OlvVV4" frameborder="0" allowfullscreen></iframe>
</div>

<p>
  The efforts resulted in an unprecedented data collection. From the flight logs from the survey to the geolocation of elephants and gorgeous footage of African wildlife, the Great Elephant Census was able to collect the most comprehensive elephant conservation database in history.
</p>

<div class="media xl off">
  <div class="image">
    <img data-original="{{ site.github.url }}/images/elephant-atlas/great-elephant-census/IMG_0863_2013TS_01.jpg"/>
  </div>
  <div class="image">
    <img data-original="{{ site.github.url }}/images/elephant-atlas/great-elephant-census/IMG_7932.jpg"/>
  </div>
  <div class="image">
    <img data-original="{{ site.github.url }}/images/elephant-atlas/great-elephant-census/IMG_8123.jpg"/>
  </div>
</div>

<p>
  The footage recorded from the aerial survey was beautiful, and the message conveyed seemed simple enough yet touching. So when Vulcan contacted the Office for Creative Research, I could not help but wonder: why would one need data visualization when the story to tell is so beautiful and relatable?
</p>

<div class="media xl off">
  <div class="image">
    <img data-original="{{ site.github.url }}/images/elephant-atlas/great-elephant-census/mm8414_150826_74613.jpg"/>
  </div>
  <div class="image">
    <img data-original="{{ site.github.url }}/images/elephant-atlas/great-elephant-census/mm8414_150826_73720.jpg"/>
  </div>
  <div class="image">
    <img data-original="{{ site.github.url }}/images/elephant-atlas/great-elephant-census/mm8414_150826_75030.jpg"/>
  </div>
</div>

<p>
  As it turns out, elephant conservation is a very complex issue. The richness of the collected data quickly revealed that we would not be able to condense this complex system of causalities and correlations into an over-simplified narrative. For this reason we set out very early in the process to go beyond storytelling, and create a platform that guides our audience in learning about elephant conservation through exploration and interaction.
</p>

<div class="media xl off">
  <p class="label">Elephant range in Africa — <a href="http://elephantdatabase.org/">African Elephant Specialist Group, IUCN</a></p>
  <div class="image">
    <img data-original="{{ site.github.url }}/images/elephant-atlas/great-elephant-census/elephantdatabase.png"/>
  </div>
</div>

<p>
  As Ted Schmidt — senior program manager-conservation at Vulcan — put it, OCR was commissioned to create what would become the "main non-scientific artefact of the Great Elephant Census." Together with Vulcan, we shaped this collaboration around the 3 following goals:
</p>

<p>
  - Create a tool for policy makers (e.g <a href="https://cites.org/">CITIES</a> representatives) to make informed decisions based on state-of-the-art elephant data.
</p>
<p>
  - Engage the general public with the story of the Great Elephant Census, by showing the incredible human effort behind the status report, and the complexity of the science involved.
</p>
<p>
  - Provide audiences with a direct access to the data through an API explorer, allowing journalists, teachers, students, artists and developers to take the data beyond our initial vision.
</p>



