---
title:  "Field trip: Tanzania, South Africa and Botswana"
date:   2016-05-05 00:00:00 +0000
categories: elephant-atlas
anchor: africa
type: process
---

<p>
  In conjunction to the research phase going on in New York, I was lucky enough to be sent for a field research trip in Tanzania, South Africa, and Bostswana. It was an opportunity to meet a number of researchers and conservation specialists, whose help and guidance had a critical impact on our work.
</p>

<p>
  More importantly, it was a chance for me to discover the reality of elephant life on the field. If visualization sometimes fail at capturing the <a href="https://www.youtube.com/watch?v=-q6aA5qdCzU">weight of data</a>, this experience in Africa was a mandate for me to always remember what was at stake: the life of a keystone species in the African landscape.
</p>

<div class="media xl off">
    <div class="image">
      <img data-original="{{ site.github.url }}/images/elephant-atlas/travels/GOPR2476.JPG"/>
    </div>
    <div class="image">
      <img data-original="{{ site.github.url }}/images/elephant-atlas/travels/GOPR2477.JPG"/>
    </div>
    <div class="image">
      <img data-original="{{ site.github.url }}/images/elephant-atlas/travels/GOPR2492.JPG"/>
    </div>
</div>

<div class="media xl off">
  <div class="image">
    <img data-original="{{ site.github.url }}/images/elephant-atlas/travels/GOPR2548.JPG"/>
  </div>
  <div class="image">
    <img data-original="{{ site.github.url }}/images/elephant-atlas/travels/GOPR2707.JPG"/>
  </div>
  <div class="image">
    <img data-original="{{ site.github.url }}/images/elephant-atlas/travels/GOPR2657.JPG"/>
  </div>
</div>
