---
title:  "Visual language of a conservation crisis"
date:   2016-06-15 00:00:00 +0000
categories: elephant-atlas
anchor: desktop
type: process
---

<p>
  The main challenge I faced when designing the interface for the African Elephant Atlas, was to create visual language that would tie all the moving parts of the experience in a coherent fashion. From immersive map visualizations to austere informational dashboards, the entire experience needed to be appealing, entertaining, and engaging.
</p>

<div class="media l off">
  <p class="label">Elephant Atlas moodboard</p>
  <div class="image" style="background-color:transparent;">
    <img data-original="{{ site.github.url }}/images/elephant-atlas/designs-desktop/visualreferences.png"/>
  </div>
</div>

<div class="media l off">
  <p class="label">Typography and color guidelines</p>
  <div class="image">
    <img data-original="{{ site.github.url }}/images/elephant-atlas/designs-desktop/style.png"/>
  </div>
</div>

<p>
  As opposed to past project from the OCR, such as <a href="/projects/into-the-okavango">Into the Okavango</a>, the Elephant Atlas is a story for people to experience, instead of a tool to explore. This is why we went away from the neutral color schemes found in most map visualizations, and instead chose a colorful palette that would contrast nicely with the visually rich African landscapes depicted through images and maps.
</p>

<div class="media xl off table">
  <div>
    <img data-original="{{ site.github.url }}/images/elephant-atlas/designs-desktop/map1.png"/>
    <img data-original="{{ site.github.url }}/images/elephant-atlas/designs-desktop/map2.png"/>
    <img data-original="{{ site.github.url }}/images/elephant-atlas/designs-desktop/map3.png"/>
  </div>
  <div>
    <img data-original="{{ site.github.url }}/images/elephant-atlas/designs-desktop/census1.png"/>
    <img data-original="{{ site.github.url }}/images/elephant-atlas/designs-desktop/census2.png"/>
    <img data-original="{{ site.github.url }}/images/elephant-atlas/designs-desktop/census3.png"/>
  </div>
  <div>
    <img data-original="{{ site.github.url }}/images/elephant-atlas/designs-desktop/context1.png"/>
    <img data-original="{{ site.github.url }}/images/elephant-atlas/designs-desktop/context2.png"/>
    <img data-original="{{ site.github.url }}/images/elephant-atlas/designs-desktop/context3.png"/>
    <img data-original="{{ site.github.url }}/images/elephant-atlas/designs-desktop/context4.png"/>
  </div>
  <div>
    <img data-original="{{ site.github.url }}/images/elephant-atlas/designs-desktop/country1.png"/>
    <img data-original="{{ site.github.url }}/images/elephant-atlas/designs-desktop/country2.png"/>
  </div>
  <div>
    <img data-original="{{ site.github.url }}/images/elephant-atlas/designs-desktop/api1.png"/>
    <img data-original="{{ site.github.url }}/images/elephant-atlas/designs-desktop/api2.png"/>
  </div>
</div>

<p>
  For similar reasons, we narrowed down the number of interactions available during the experience. Focused on scrolling and basic interactions, the Elephant Atlas finds inspiration in some of the long reads published by the New York Times and other media outlets. Although its narrative is linear, it always gives access to side tracks, to learn more and dive deeper. 
</p>

<div class="media xl off">
  <p class="label">The Census page teaches how elephant counting was done by the GEC</p>
  <div class="image">
    <img data-original="{{ site.github.url }}/images/elephant-atlas/designs-desktop/census1.png"/>
  </div>
</div>

<div class="media xl off">
  <p class="label">The Context page works as a hypothesis generator and helps grasping the complexity of elephant conservation</p>
  <div class="image">
    <img data-original="{{ site.github.url }}/images/elephant-atlas/designs-desktop/context1.png"/>
  </div>
</div>

<div class="media xl off">
  <p class="label">The Countries page compares situations across Africa; some countries like Tanzania have lost 70% or their elephant population in a decade</p>
  <div class="image">
    <img data-original="{{ site.github.url }}/images/elephant-atlas/designs-desktop/country2.png"/>
  </div>
</div>
