---
title:  "Into the Okavango 2016: sensor stations and a major revamp"
date:   2016-07-15 00:00:00 -0500
categories: into-the-okavango
anchor: okavango-2016
type: process
type: process
---

<p>
  With 3 expeditions planned this year and new commissions by National Geographic, Okavango 2016 was an opportunity for consolidating our platform and refining its visual design. We spent weeks defining a new coherent framework, that fits the many features and data sources that had accumulated over the years.
</p>

<p>
  Still in development, the latest version of ITO enables to explore current and past expeditions with a consistent data treatment.
  It spends more time explaining the human context of the expedition, and enables to interact with new data sources, including deployed sensor stations and 360 cameras.
</p>

<div class="media xl off">
  <p class="label">Into the Okavango 2016, home page</p>
  <div class="image">
    <img data-original="{{ site.github.url }}/images/into-the-okavango/2016/map1.png" width="1280" height="720"/>
  </div>
</div>

<p>
  The journal section was also redesigned to focus on displaying high quality media content, now accessible through blog entries and gallery views. Generated daily reports and videos give an overview of each day of the expeditions.
</p>

<div class="media xl off">
  <p class="label">Journal page showcasing a daily data report</p>
  <div class="image">
    <img data-original="{{ site.github.url }}/images/into-the-okavango/2016/journal1.png" width="1280" height="720"/>
  </div>
</div>

<p>
  The API Explorer, refined by <a href="http://janefriedhoff.com/">Jane Friedhoff</a>, now provides access to multiple map outputs, from specific species plotting to density hexbin visualizations.
</p>

<div class="media xl off table">
  <div>
    <img data-original="{{ site.github.url }}/images/into-the-okavango/2016/intro1.png" width="1280" height="720"/>
    <img data-original="{{ site.github.url }}/images/into-the-okavango/2016/map1.png" width="1280" height="720"/>
    <img data-original="{{ site.github.url }}/images/into-the-okavango/2016/map2.png" width="1280" height="720"/>
  </div>
  <div>
    <img data-original="{{ site.github.url }}/images/into-the-okavango/2016/journal1.png" width="1280" height="720"/>
    <img data-original="{{ site.github.url }}/images/into-the-okavango/2016/journal2.png" width="1280" height="720"/>
    <img data-original="{{ site.github.url }}/images/into-the-okavango/2016/journal3.png" width="1280" height="720"/>
    <img data-original="{{ site.github.url }}/images/into-the-okavango/2016/journal4.png" width="1280" height="720"/>       
  </div>
  <div>
    <img data-original="{{ site.github.url }}/images/into-the-okavango/2016/data1.png" width="1280" height="720"/>
    <img data-original="{{ site.github.url }}/images/into-the-okavango/2016/data2.png" width="1280" height="720"/>
    <img data-original="{{ site.github.url }}/images/into-the-okavango/2016/data3.png" width="1280" height="720"/>
  </div>
  <div>
    <img data-original="{{ site.github.url }}/images/into-the-okavango/2016/about1.png" width="1280" height="720"/>
    <img data-original="{{ site.github.url }}/images/into-the-okavango/2016/about2.png" width="1280" height="720"/>
    <img data-original="{{ site.github.url }}/images/into-the-okavango/2016/about3.png" width="1280" height="720"/>
    <img data-original="{{ site.github.url }}/images/into-the-okavango/2016/about4.png" width="1280" height="720"/>
  </div>
</div>

<p>
  Maybe even more challenging, the site was designed and built to be equally functional on mobile platforms. The expedition can now be followed on these devices, where most of our audience has been following our expeditions through social media. 
</p>

<div class="media xl off">
  <div class="image">
    <img data-original="{{ site.github.url }}/images/into-the-okavango/2016/mobile1.png" width="405" height="720"/>
  </div>
  <div class="image">
    <img data-original="{{ site.github.url }}/images/into-the-okavango/2016/mobile2.png" width="405" height="720"/>
  </div>
  <div class="image">
    <img data-original="{{ site.github.url }}/images/into-the-okavango/2016/mobile3.png" width="405" height="720"/>
  </div>
  <div class="image">
    <img data-original="{{ site.github.url }}/images/into-the-okavango/2016/mobile4.png" width="405" height="720"/>
  </div>
  <div class="image">
    <img data-original="{{ site.github.url }}/images/into-the-okavango/2016/mobile5.png" width="405" height="720"/>
  </div>
</div>
