---
title:  "An interface like in a sci-fi starship"
date:   2014-2-25 21:06:00 -0500
categories: specimen-box
anchor: interface
type: process
---

<p>
  As we dived deep in understanding botnets and their behaviors, the need to portray each network as a unique entity became apparent. We designed Specimen Box as an interface to help Microsoft giving a voice to botnets and reveal their unique character. I set out to create an interface that would facilitate that exploration.  
</p>

<div class="media xl off">
  <div class="image">
    <img data-original="{{ site.github.url }}/images/specimen-box/interface/ui2.png"/>
  </div>
  <div class="image">
    <img data-original="{{ site.github.url }}/images/specimen-box/interface/ui3.png"/>
  </div>
</div>

<p>
  The application was designed to take its aesthetic cues from a mix of obvious movie references (War Games, Minority Report) and petri dish imagery. We build the interface as a specimen box, where each botnet was pinned down for us to study.
</p>

<div class="media xl off">
  <div class="image" style="flex-shrink: 1.75;">
    <img data-original="{{ site.github.url }}/images/specimen-box/interface/ba1f308116b25a39111c6e89ab21aa28.jpg"/>
  </div>
  <div class="image">
    <img data-original="{{ site.github.url }}/images/specimen-box/interface/ui4.png"/>
  </div>
</div>

<p>
  Given the final product of our collaboration with Microsoft was going to live on a massive Perceptive Pixel touch screen, we gave special attention to creating an interface leveraging touch interactions. The set of gestures designed for this application facilitates the exploration of botnet activity through time and space. 
</p>

<div class="media l off">
  <p class="label">In the process of documenting touch interactions</p>
  <div class="image" style="background-color:black">
    <img data-original="{{ site.github.url }}/images/specimen-box/interface/tumblr_ne63potbUb1stbx71o3_r1_1280.jpg"/>
  </div>
</div>

<p>
  Besides an interactive experience, the application also features a 'daydreaming mode' that navigates within the complex landscape of botnet activity, and reveal new patterns autonomously as the installation constantly ingests new data. That way, the installation could be experienced by Microsoft researchers as an ambiant information display, part of their daily work environment. 
</p>

<div class="media l">
  <iframe class="youtube" src="https://player.vimeo.com/video/147750286?quality=1080p" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>

<div class="media l">
  <iframe class="youtube" src="https://player.vimeo.com/video/147750287?quality=1080p" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>

<p>
  Funnily enough, <a href="https://www.wired.com/2014/12/sci-fi-worthy-interface-tracking-criminal-botnets/">Wired Magazine described</a> the interface as "fit for a sci-fi starship." Mission accomplished.
</p>
