---
title: "Live-coding performance"
date: 2017-05-23 00:00:00 -0500
categories: c2-brain
anchor: livecoding
type: process
---

<div class="media xl off">
  <p class="label">
    The application runs in a web browser in both development and production environments. This enables us to monitor new data coming in, while easily pushing new visual content to the installation.
  </p>
  <div class="image">
    <img data-original="{{ site.github.url }}/images/c2-brain/livecoding/DSCF4262.jpg" width="1440" height="960"/>
  </div>
</div>

<p>
  After a couple of days spent installing the Brain in Montreal, C2 has finally started. From day one, a team of volunteers under Ben Rubin's supervision (joined later by Patrick Tanguay) has been collecting notes and nuggets of knowledge from the multiple talks and workshops happening simultaneously. This fast-flowing content is transcribed in a collaborative spreadsheet where the data is verified, timstamped, annotated, and processed. In real time, data flows into the Brain's visualization, where all quotes come together.
</p>

<div class="media xl off">
  <div class="image">
    <img data-original="{{ site.github.url }}/images/c2-brain/livecoding/data.png" width="674" height="405"/>
  </div>
  <div class="image">
    <img data-original="{{ site.github.url }}/images/c2-brain/livecoding/DAIjqQ7W0AE8fNL.png" width="898" height="539"/>
  </div>
</div>

<p>
  As the event goes on, Sam and myself continually develop new visualization modes allowing for new insights into the data. Some of them appear in the video below. 
</p>

<div class="media xl off">
  <p class="label">
    Here, one sequence visualizes social media content; another the curated conversations between attendees; the last one shows the stream of thoughts coming from each talk as they're happening.
  </p>
  <iframe class="youtube" src="https://player.vimeo.com/video/234061896?quality=1080p" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>