---
title: "Web2day 2017 (French)"
date: 2017-06-13 00:00:00 -0500
categories: talks
anchor: web2day
type: process
---

<div class="media xl off">
  <p class="label">
    I modestly hijacked Web2day's design panel to question the lack of gender diversity at French tech events. My presentation goes over projects I've worked on, viewed from the perspective of the women I was lucky to collaborate with. Many thanks to <a href="http://portfolio.genevievehoffman.com/">Genevieve Hoffman</a>, <a href="http://janefriedhoff.com/">Jane Friedhoff</a>, and <a href="http://elleryroyston.com/">Ellery Royston</a>. Presentation starts at 19:23.
  </p>
  <iframe class="youtube" width="640" height="360" src="https://www.youtube.com/embed/3rmBLO09R4w" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>