---
title: "Goodbye cynicism, hello new ideas"
date: 2017-04-02 00:00:00 -0500
categories: c2-brain
anchor: conference
type: process
---

<p>
  C2 Montreal is a three-day event that brings together marketers and creatives to explore trends, opportunities and major shifts on the horizon. Every year, the event drags 5000 attendees to experience and challenge the future of business.
</p>

<a href="https://www.c2montreal.com/">
  <div class="media">
    <div class="image" style="border: 1px solid #888">
      <img data-original="{{ site.github.url }}/images/c2-brain/conference/c2montreal.png" width="1280" height="645"/>
    </div>
  </div>
</a>

<p>
  For the conference's 2017 issue, C2 commissioned <a href="http://www.data-arts.nyc/">The New School's Center for Data Arts</a> to create the C2 Brain: a data-based installation that accounts for the many conversations taking place during the event. Conference transcripts, social media posts, and real life conversations are as many data points to be visualized in this 2500 square feet LED installation.
</p>

<div class="media xl off">
  <p class="label">
   C2 Montreal 2016, main stage
  </p>
  <div class="image">
    <img data-original="{{ site.github.url }}/images/c2-brain/conference/36028332665_89c182dea0_b.jpg" width="832" height="332"/>
  </div>
</div>

<p>
  I join CDA's director Ben Rubin and designer Sam Gallison to lead the design and development of real-time graphics for the installation. This work comprises of a week-long preparation phase as well as two 3-day long live-coding performances dedicated to designing visuals based on the conference's on-going content.
</p>

<div class="media l">
  <div class="image">
    <img data-original="{{ site.github.url }}/images/c2-brain/conference/c2-montreal-2016-2.png" width="960" height="435"/>
  </div>
</div>
