---
title: "Arranging data in space"
date: 2017-04-27 00:00:00 -0500
categories: c2-brain
anchor: prototype
type: process
---

<div class="media">
  <div class="image">
    <img data-original="{{ site.github.url }}/images/c2-brain/prototype/Square-_-screens_10-May-01.png" width="1280" height="650"/>
  </div>
</div>

<p>
  The installation, an ensemble of 96 LED panels and 20 LCD screens, constitutes one of the center pieces of the conference's venue. It surrounds the Agora, a space meant for relaxing and connecting with other attendees. We meant this installation as an immersive prolongation of the conference's experience, where one can read its latest content as well as getting a broad sense of all the conversations happening around them.
</p>

<div class="media xl off">
  <div class="image">
    <img data-original="{{ site.github.url }}/images/c2-brain/prototype/Square-_-screens_10-May-03.png" width="800" height="406"/>
  </div>
  <div class="image">
    <img data-original="{{ site.github.url }}/images/c2-brain/prototype/Square-_-screens_10-May-06.png" width="800" height="406"/>
  </div>
  <div class="image">
    <img data-original="{{ site.github.url }}/images/c2-brain/prototype/Square-_-screens_10-May-09.png" width="800" height="406"/>
  </div>
</div>

<p>
  To accommodate this idea, I designed a virtual world that revolves around the installation, and turns the LED screens into a window onto the conference's data. In this visualization, conference quotes, social media content, and individual avatars collide together to form an ephemeral, collective intelligence. By standing at the center of it, one can glance at C2's consciousness.
</p>

<div class="media">
  <div class="image">
    <img data-original="{{ site.github.url }}/images/c2-brain/prototype/world.png" width="976" height="742"/>
  </div>
</div>


<p>
  The graphics were developed as a WebGL application using THREE.js. This allows us to easily iterate and dynamically push new visual content as the conference goes on.
</p>

<div class="media xl off">
  <p class="label">
    Adjacent is an early prototype demonstrating the multiple development views and their slicing into a 1080p production display that will later be dispatched to the many screens of the Brain.
  </p>
  <iframe class="youtube" src="https://player.vimeo.com/video/234061195?quality=1080p" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>