---
title: "TL; DR"
date: 2018-09-18 00:00:00 -0500
categories: deface
anchor: tldr
type: process
---

<h5>
  🚨This page is not up to date. Keep in touch with Deface at <a href="https://deface.app">https://deface.app</a>.🚨
</h5>

<p>
  Deface is a work in progress. This page is a comprehensive list of resources for understanding the work produced so far and the road ahead of us. At this stage of the project, we hope to open our process to a wider community of programers, designers, lawyers, ethicists, and funders. The source code will be made public on GitHub in a few days.
</p>

<ul>
  <li>
    <a href="#context">
      Privacy abuses are not a bug but a feature
    </a>
    <br/>
    <span class="label">
      Why Deface matters, and what goals we are setting for ourselves.
    </span>
  </li>
  <li>
    <a href="#app">
       How does it work?
    </a>
    <br/>
    <span class="label">
      High-level explanation of Deface in terms of user experience and broad technical principles.
    </span>
  </li>
  <li>
    <a href="#network">
      An in-depth look at Deface's distributed architecture
    </a>
    <br/>
    <span class="label">
      Introduction to Ditributed Hash Tables, and a look at Deface's custom network.
    </span>
  </li>
  <li>
    <a href="#challenges">
      The challenges ahead of us
    </a>
    <br/>
    <span class="label">
      Deface raises many technical and sociological challenges. We need your help to tackle them.
    </span>
  </li>
</ul>