---
title: "Privacy abuses are not a bug but a feature"
date: 2018-09-19 00:00:00 -0500
categories: deface
anchor: context
type: process
---

<p>
  Facebook's online privacy abuses have been known of the public for more than a decade. Every passing year has brought new chilling revelations of data misuses. Some of the most recent include the ways Facebook <a href="https://www.theguardian.com/technology/2014/jun/30/facebook-emotion-study-breached-ethical-guidelines-researchers-say" blank="_target">manipulates its news feed for research purposes</a>, <a href="https://www.propublica.org/article/facebook-hate-speech-censorship-internal-documents-algorithms" target="_blank">its racially-biased protections against hate speech</a>, and <a href="https://www.propublica.org/article/facebook-lets-advertisers-exclude-users-by-race" target="_blank">cases of redlining in ad targeting</a>. The Cambridge Analytica scandal and subsequent senate hearing in 2018 revealed these abuses were not bugs, but integral features of the platform.
</p>

<div class="media off l">
  <div class="label">
    Photo: Jim Watson
  </div>
  <div class="image">
    <a href="https://theintercept.com/2018/04/11/mark-zuckerberg-is-either-ignorant-deliberately-misleading-congress-or-both/" target="_blank">
      <img data-original="{{ site.github.url }}/images/deface/context/zuck.jpg" width="1440" height="720"/>
    </a>
  </div>
</div>

<p>
  In a similarly abusive fashion, governments in the United States and many other countries have been ramping up their efforts to collect their citizens' information. Amidst the rise of populism and authoritarianism, legislators and law enforcement agencies have been advocating for <a href="https://www.euractiv.com/section/digital/news/member-states-ask-for-new-eu-data-retention-rules/" target="_blank">personal data retention</a> and <a href="http://thehill.com/policy/cybersecurity/325880-uk-home-minister-calls-for-encryption-backdoors" target="_blank">encryption backdoors</a>. Recent examples include FBI chief Christopher Wray <a href="http://thehill.com/policy/cybersecurity/368094-fbi-chief-warns-impenetrable-device-encryption-poses-urgent-public" target="_blank">equating unbreakable encryption with an 'urgent public safety issue,'</a> or ICE calling for tech companies to <a href="http://thehill.com/policy/technology/361660-ice-asks-tech-companies-to-help-them-track-visa-holders-on-social-media" target="_blank">develop algorithms that track visa holders on social media</a>.
</p>

<div class="media l off">
  <div class="label">Several tech companies have been under fire for actively collaborating with anti immigration efforts. Most prominent offenders include Microsoft and Palantir, but it turns out <a href="https://gizmodo.com/turns-out-all-kinds-of-tech-companies-are-working-with-1827006046">many more are involved</a>.</div>
  <div class="image border">
    <a href="https://theintercept.com/2018/03/26/facebook-data-ice-immigration/" target="_blank">
      <img data-original="{{ site.github.url }}/images/deface/context/ice.png" width="1440" height="729"/>
    </a>
  </div>
</div>

<p>
  The future looks grim but the threat is also very real at the present time, as major tech companies comply with governments by <a href="https://www.nytimes.com/2017/09/17/technology/facebook-government-regulations.html" target="_blank">turning in large swaths of personal data records</a>. Under the false pretense of fighting against <a href="https://www.theguardian.com/uk-news/2017/sep/19/theresa-may-will-tell-internet-firms-to-tackle-extremist-content" target="_blank">extremism</a> and <a href="https://www.npr.org/sections/thetwo-way/2018/01/04/575580790/frances-macron-says-he-wants-law-to-combat-fake-news" target="_blank">fake news</a>, there has been a historical effort across the political spectrum to undermine the last safeguards against mass surveillance.
</p>

<p>
  Thankfully, the rising popularity of encrypted messaging applications like Signal means more and more people can communicate securely. It’s however far from sufficient: the most recent news have showed these apps are pressured to <a href="https://www.forbes.com/sites/thomasbrewster/2017/01/22/whatsapp-facebook-backdoor-government-data-request/#71b90a8a1030" target="_blank">give in user metadata to law enforcement</a>, and are sometimes <a href="https://www.theverge.com/2018/1/2/16841292/iran-telegram-block-encryption-protest-google-signal" target="_blank">entirely censored by authoritarian governments</a>. Perhaps more importantly, their efforts are inherently limited to private communications. If we are serious about protecting privacy, we need to think about how to cover the full range of people's online presence.
</p>

<p>
  Given the ever-growing threat posed by corporations and governments to online privacy, how can we appropriate social media feeds to make the internet more secure, decentralized, and open? Deface is the beginning of an answer to this question.
</p>

<div class="media">
  <div class="image">
    <img data-original="{{ site.github.url }}/images/deface/context/logo.jpg" width="1280" height="720"/>
  </div>
</div>

<h5>
  Deface is a browser extension that prevents Facebook from reading people’s messages.
</h5>

<p>
  While encryption usually happens at the private conversation level, Deface protects content meant to be shared with many friends. It captures messages posted on Facebook, encrypts them, and posts encryption keys to a decentralized database shared by all users. People who have installed the extension can read those messages as they normally would, while others can only see a garbled string of characters. Facebook's algorithms are kept at bay by a captcha system enforced by the community.
</p>


<div class="media xl off">
  <div class="label">
    A Deface message as seen by Facebook (left), and as seen by a user (right).
  </div>
  <div class="image">
    <img data-original="{{ site.github.url }}/images/deface/context/before.png" width="785" height="422"/>
  </div>
  <div class="image" style="background-color:rgb(233, 235, 238);">
    <img data-original="{{ site.github.url }}/images/deface/context/after.png" width="785" height="334"/>
  </div>
</div>

<h5>
  Deface could benefit to the public in several ways
</h5>

<ul>
  <li>
    The adversarial approach taken by the project would spark a debate. It would question Facebook's unethical practices, and challenge the established view that there's no possible privacy in public online spaces. 
  </li>

  <li>
    It would effectively prevent Facebook and third-party organizations from sweeping through millions of messages with their algorithms. This could drastically increase the <a href="https://vimeo.com/110064108#t=315s" target="_blank">cost of mass surveillance</a>. For instance, law enforcement agencies like the ICE would have to track immigrants on a case by case basis instead of monitoring millions of people automatically.
  </li>

  <li>
    By disrupting Facebook's ability to read people's message, Deface would also prevent the company's algorithms from overly curating people's feeds and passively <a href="https://datasociety.net/output/alternative-influence/" target="_blank">promoting extremism and hate speech</a>.
  </li>

  <li>
    As an open source tool and research project, Deface would provide a replicable framework for decoupling user-generated content from the online platforms where it is posted. This could pave the way for many other projects of <a href="../radiant-city/">appropriation of social media spaces</a>.
  </li>
</ul>

<p>
  Deface has been in the making for several years and is now reaching a point where I can confidently share it with the world. For a long time I have been reluctant to make this project public before its actual release, but this past year made me realize the necessity to open the process to a wider community in order to tackle the many social, philosophical, legal, and technical challenges ahead of us.
</p>