---
date:   2020-01-04 00:00:00 -0500
categories: twitter-aurora
type: overview
---

<img src="{{ site.github.url }}/images/{{ page.categories }}/overview/kyle.jpg" alt="dataviz of Twitter conversation initiated by NBA player Kyle Kuzma"/>

<div class="columns">
  <div style="flex:1;">
    <img src="{{ site.github.url }}/images/{{ page.categories }}/overview/kyle2.jpg" alt="A close-up version of the Kyle Kuzma conversation in Helios"/>
  </div>
  <div style="flex:1;">
    <img src="{{ site.github.url }}/images/{{ page.categories }}/overview/connections4.png" alt="A close-up angle on the Twitter Aurora visualization"/>
  </div>
</div>

<div class="columns">
  <div style="flex:1;">
    <img src="{{ site.github.url }}/images/{{ page.categories }}/overview/beijing.jpg" alt="Twitter Aurora installed in a marketing event in Beijing"/>
  </div>
  <div style="flex:1;">
    <img src="{{ site.github.url }}/images/{{ page.categories }}/overview/aviator.png" alt="Twitter Aurora installed on screens in Twitter's San Francisco headquarters"/>
  </div>
</div>